.thirdSectionContainer {
  display: grid;
  place-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 96.5rem;
  height: 88rem;
  left: 0px;
  background: #13142c;
  background-image: url("../images/another\ background.png");
  background-position: cover;
  background-repeat: no-repeat;
  /* opacity: 0.12; */
  /* transform: matrix(-0.9, 0.43, 0.43, 0.9, 0, 0); */
}

.thirdSectionTitleContainer {
  /* margin-top: 52rem; */
}

.thirdSectionParagrahContainer {
  margin-bottom: 50px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}

.thirdsectionwidgetContainerParagraph {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: center;
  color: #ffffff;
  margin-bottom: 40px;
  align-items: center;
  padding: 48px 120px;
  margin-right: 5rem;
  gap: 38px;
  width: 1100px;
  height: 296px;
  background: #191A38;
  border-radius: 16px;
  box-shadow: 13px 10px 164px -20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 13px 10px 164px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 10px 164px -20px rgba(0, 0, 0, 0.75);
}

.thirdsectionTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #f1c767;
  margin-top: 90px;
}

.thirdSectionMain {
  margin-bottom: 50rem;
}

.thirdSectionSubtitle {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}

.thirdSectionParagrah {
  margin-left: 112px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}

.thirdsectionwidgetContainer {
   /* display: flex; */
    /* flex-direction: row;  */
   flex-wrap: wrap; 
   margin-right: 10rem;
  padding: 68px 150px;
  border-radius: 16px;
  width: 1100px;
  height: 1000px;
  gap: 40px;
  height: 296px;


 
}
/*  fourth container designs */


